@model LPX2YCDProject2020.Models.AddressModels.CascadingAddressClass
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_UserAdminLayout.cshtml";
}

<a asp-action="ViewProvinces" class="link-black link-info">Back to provinces</a>
<div class="container">

    <h3>@Model.Province.Country</h3>

    <h4 class="h4">Cities in @Model.Province.ProvinceName</h4>
    <br />
    @if (Model?.cities == null)
    {
        <p class="text-danger">No cities to show </p>
        <a class="link-primary" asp-action="AddCities">Add city</a>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>
                       <h5>City name</h5>
                    </th>
                    <th>
                        <h5>Actions</h5>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.cities)
                {
                    <tr>
                        <td >
                            <p>@c.CityName</p>
                        </td>
                        <td>
                            <a asp-action="EditCity" asp-route-cityId="@c.CityId">Edit</a>| <a asp-action="GetSuburbsByCity" asp-route-cityId="@c.CityId">Details</a> |<a asp-action="DeleteCities" asp-route-cityId="@c.CityId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <br />
        <a asp-action="AddCities" asp-route-id="@Model.Province.ProvinceId" class="link-secondary">Add cities to @Model.Province.ProvinceName</a>
    }
</div>
