@model IEnumerable<LPX2YCDProject2020.Models.AdminModels.Programme>

@{
    ViewData["Title"] = "ListAllPrograms";
    Layout = "~/Views/Shared/_UserAdminLayout.cshtml";
}

<h1>ListAllPrograms</h1>


@if (ViewBag.IsSuccess == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Operation successfully completed!</strong> <br />
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<p>
    <a asp-action="CreateProgram">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgrammeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventCategory)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgrammeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventCategory)
                </td>
               
                <td>
                    <a asp-action="EditProgram" asp-controller="Admin" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="ProgrammeAttendees" asp-controller="Admin" asp-route-Id ="@item.Id">Details</a>|
                    <a asp-action="DeleteProgram" asp-controller="Admin" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
